[Unit]
Description=%i Minecraft
RequiresMountsFor=/var/run/container/storage

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
TimeoutStartSec=1

ExecStartPre=-/usr/bin/podman stop mc-%i
ExecStartPre=-/usr/bin/podman rm --ignore -f mc-%i
ExecStartPre=-/bin/rm -f %t/%n-pid
ExecStart=/home/mcadmin/scripts/PyJorebs/lOREnch.py %i %n %t
ExecStop=/usr/bin/podman stop --ignore mc-%i -t 10
PIDFile=%t/%n-pid

KillMode=none
Restart=always
RestartSec=5
Type=forking

[Install]
WantedBy=default.target
