[Unit]
Description=%i Minecraft
RequiresMountsFor=/var/run/container/storage

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
TimeoutStartSec=1

ExecStartPre=/usr/bin/podman rm --ignore -f --cidfile %t/%n-cid
ExecStartPre=/bin/rm -f %t/%n-pid %t/%n-cid
ExecStart=/home/mcadmin/scripts/PyJorebs/lOREnch.py %i %n %t
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%n-cid -t 10
PIDFile=%t/%n-pid

KillMode=none
Restart=always
RestartSec=5
Type=forking

[Install]
WantedBy=default.target
